// // // // ALTAS RESOLUCIONES

@media (min-width: 1400px) {
  html {
    font-size: 14px !important;
  }
  .marginWithFooter {
    padding-bottom: 80px !important;
  }
  .v-input__control > .v-input__slot > .v-text-field__slot > label {
    font-size: 1.8rem !important;
  }
  #headerApp {
    max-width: 1600px !important;
  }
  .principal {
    max-width: 1800px !important;
    margin-inline: auto;
  }
  #contenedorFooter {
    max-width: 1800px !important;
    margin-inline: auto;
  }
  
  // swap
  .line {
    width: 12vmax !important;
  }
}

@media (min-width: 1600px) {
  // html {
  //   font-size: 12.5px !important;
  // }
  // #botonSwap {
  //   height: 60px !important;
  // }
  // #botonAprove {
  //   height: 60px !important;
  // }
  // #addRemove {
  //   height: 100px !important;
  // }
  // .botonMax {
  //   width: auto !important;
  // }
  .margenRemove {
    margin-bottom: 23px
  }
  // .paddRecover {
  //   padding: 12px !important;
  // }
  // .botonDeposit {
  //   width: 3.5625rem;
  //   height: 1.8125rem;
  //   font-size: 0.975rem !important;
  // }
}
@media (min-width: 1900px) {
  .line {
  width: 250px !important;
  }
}

// // // MIN-WIDTH ARRIBA
/////////////////////////////////////////////////////////////
// // // MAX-WIDTH ABAJO

@media (max-width: 1265px) {
  html {
    font-size: 8px !important;
  }
  // quitar luego de añadir el soon
  #headerApp {
    max-width: 100% !important;
  }
  .paddPreMobile {
    padding: 0 !important;
  }
  #containerWallet {
    width: 11rem !important;
    height: 3.3125rem !important;
  }
}
@media (max-width: 1264px) {
  .line {
    width: 15vmax !important;
  }
}
@media (max-width: 1220px) {
}
@media (max-width: 1150px) {
  .line {
    width: 10vmax !important;
  }
}
@media (max-width: 1100px) {
  // header
  #headerApp {
    max-width: 100% !important;
  }
  #ajustarHeader {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  #ajustarHeader2 {
    padding-left: 10px !important;
  }
}
@media (max-width: 1024px) {
  .botonRemove {
    width: 4.8125rem !important;
    height: 3.125rem !important;
  }
}
@media (max-width: 990px) {
  #text404 {
    font-size: var(--step-notFound) !important;
  }
  #textNotFound {
    font-size: var(--step-em-4) !important;
  }
  .flechita2 {
    font-size: 16px !important;
  }
  .flechita3 {
    font-size: 16px !important;
  }
  .botonMax {
    margin: 0px 0px 0px 10px !important;
  }
  .containerTextField {
    padding: 18.6782px 5.5842px !important;
  }
}
@media (max-width: 912px) {
  .containerData {
    font-size: 13px !important;
    text-align: center;
  }
  .v-input__slot {
    padding: 0 !important;
  }
  #logoPrincipal {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  #titulo {
    font-size: 2.5rem !important;
  }
}

// // // // BAJAS RESOLUCIONES
@media (max-width: 880px) {
  .v-main__wrap {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .eliminarMobile3 {
    display: none !important;
  }
  .verMobile {
    display: block !important;
  }
  .conticonsMobile {
    display: flex !important;
  }
  
  .availableAssets {
    .containerDown {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .cartasUp {
        margin-top: 1em;
      }
      .cartasDown {
        margin-top: 1em;
      }
    }
  }
}
@media (max-width: 600px) {
  .line {
    width: 50vmin !important;
  }
  .eliminarMobile {
    display: none !important;
  }
  .paddingMobileBridge {
    grid-template-columns: 40% 20% 40%;
  }
  .childCenter {
    margin-right: 0 !important;
  }
  // bridge
  .containerBridge {
    padding: 0 !important;
  }
  .spaceDeleteMobile {
    padding: 0 12px !important;
  }
  .spaceDeleteMobile2 {
    padding: 0 12px !important;
    // padding: 0 !important;
    // padding-top: 12px !important;
  }
  .spaceDeleteMobile3 {
    padding: 1.25rem !important;
  }
  .contenedorBridgeIconMobile {
    flex-direction: column !important;
  }

  // header
  .padd {
    padding-right: 0.625rem !important;
  }

  // footer
  .v-main__wrap {
    padding-bottom: 30% !important;
  }
  #margenFooter {
    padding-bottom: 20% !important;
  }
  #margenFooterAssets {
    padding-bottom: 20% !important;
  }
  #footerColor {
    height: 200px !important;
  }
  #contenedorFooter {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footerText {
    margin-right: 0px !important;
  }

  // orden mobiles
  #left {
    order: 1;
  }
  #right {
    order: 0;
  }
  .containerTextField {
    height: 6.75rem !important;
  }
  div.v-messages {
    display: none !important;
  }

  ///////////////////////////////////////////
  html {
    font-size: 8px !important;
  }

  #containerWallet {
    padding: 0px;

    width: 16.1375rem;
    height: 4.3125rem;
  }

  // assets
  .divisorAssets {
    display: none !important;
  }
  #contenedorAssetsTitle {
    display: flex;
    justify-content: center;
  }
  .containerDataAssets {
    display: grid;
    grid-template-areas: "1 2" "1 2";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 98% !important;
    height: 20.4375rem;
  }
  .añadidoDataAvaibleTextoA {
    text-align: center !important;
  }
  .añadidoDataAvaibleTextoB {
    text-align: center !important;
  }

  // custome chart
  .containerData {
    font-size: 12px !important;
  }
  #titleData {
    margin: 0.386950625rem 0px !important;
  }

  
  #alerta {
    padding-left: 1rem;
    width: 17.5rem;
  }
  #contenedorCloseAlert {
    justify-content: flex-start;
  }
  .contenedorAlertPosition {
    justify-content: flex-end;
  }
  .textAlertUp {
    text-align: flex-end;
  }
  

  .containerFlechaAbajo {
    margin: 2.75rem !important;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  // #titleDataAssets {
  //   font-size: 11px !important;
  // }
  // #textDataAssets {
  //   font-size: 15px !important;
  // }
}
////////////////////////////////////////////////////
// LETRAS
@media (max-width: 599px) {
  #text404 {
    font-size: var(--step-notFound) !important;
  }
  #textNotFound {
    font-size: var(--step-em-4) !important;
  }
  .botonMax {
    margin: 0 10px !important;
  }
  // .v-input__slot {
  //   padding: 0px 12px !important;
  // }
  #tableDesktop {
    display: none !important;
  }
  #tableMobile {
    display: block !important;
  }
  // eliminar esto de arriba si logro resolverlo luego
  #bridge {
    font-size: 2.55rem !important;
  }
  #swap {
    font-size: 2.55rem !important;
  }
  // #addRemove {
  //   font-size: 2.25rem !important;
  // }
  #assetsTitle {
    font-size: 2.6rem !important;
  }
  .containerAstronauta {
    height: 9.044375rem !important;
  }
  .astronauta {
    width: 10.82875rem !important;
    height: 10.044375rem !important;
  }
  #botonSwap {
    font-size: 2.4rem !important;
  }
  #botonAprove {
    font-size: 1.8rem !important;
  }
  #botonBridge {
    font-size: 2.4rem !important;
  }

  //   assets
  #linkDataTable {
    display: none !important;
  }
  .botonAssetsMobileA {
    display: block !important;
  }
  .botonAssetsMobileB {
    display: block !important;
  }
  // .balanceAssets {
  //   margin-top: 0.5625rem;
  //   font-size: 1.9rem !important;
  //   text-align: center;
  // }
  // .v-data-table__mobile-row__header {
  //   font-size: 1.9rem !important;
  // }
  // .tokenNameAssets {
  //   font-size: 1.9rem !important;
  // }
  .logoAssets {
    width: 3.410625rem;
    height: 4.05rem;
  }

    //   chartlogo
  .chartLogo {
    width: 2.569375rem !important;
    height: 2.094375rem !important;
  }
}

//medias para bridgeIcon
@media (max-width: 450px) {
  .line {
    width: 39vmin !important;
  }
  .eliminarMobile2 {
    display: none !important;
  }
  .paddingMobileBridge {
    grid-template-columns: 45% 10% 45%;
  }
}
// medidas para assets
@media (max-width: 430px) { 
  th label {
    margin: 0 39% !important;
  }
  #margenFooter {
    padding-bottom: 30% !important;
  }
}

////////////////////////////////////////////////////
// TAMAÑO MINIMO
@media (max-width: 340px) {
  html {
    font-size: 5px !important;
  }
  #containerWallet {
    margin: 0 !important;
    margin-right: 0 !important;
  }
  .v-main__wrap {
    margin-top: 20% !important;
    padding: 0 !important;
  }
  #soon2 {
    padding: 0px 4.5px !important;
  }
  .logoChangeWallet {
    margin: 0px 54px !important;
  }
  .botonDeposit {
    width: 3.5625rem !important;
  }
  

  // custome chart
  .containerData {
    font-size: 3px !important;
  }
  .spaceDeleteMobile3 {
    padding: 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  #value {
    position: absolute;
    top: 45px;
    right: 10px;
    margin: auto;
  }
  #titleData {
    font-size: 1.5rem !important;
  }
  #textData {
    font-size: 1rem !important;
  }
  #amountData {
    font-size: 1rem !important;
  }
  .logoData {
    width: 1.3rem !important;
    height: 1rem !important;
  }

  //   assets
  #contenedorDataAssets {
    padding: 0 !important;
  }
  .balanceAssetsMobile {
    font-size: var(--step-0);
  }
  .tokenNameAssetsMobile {
    font-size: var(--step-0);
  }
  .v-data-table__mobile-row__header {
    font-size: var(--step--2) !important;
  }
  td.v-data-table__mobile-row {
    margin-bottom: 120px !important;
  }
  th label {
    font-size: var(--step-1) !important;
  }
  .menuable__content__active .v-list-item > .v-list-item__content > .v-list-item__title {
    font-size: var(--step-1) !important;
  }

  //   bridgeIcon
  // #margenBridge {
  //   padding-top: 10% !important;
  // }
  .paddMobile {
    padding: 0 !important;
  }
  .paddingMobileBridge {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  #colFlechitaBridge {
    max-width: 30px !important;
    min-width: 30px !important;
    width: 30px !important;
  }
  #ContenedorFlechitaBridgeMobile {
    width: 30px !important;
    height: 30px !important;
  }
  #flechitaBridgeMobile {
    font-size: 2.5rem !important;
  }
  #reduccionFuenteBridge {
    font-size: 1.5625rem !important;
  }
  #reduccionFuenteIconosBridge {
    font-size: 2rem !important;
  }
  .contenedorPrimeraFilaBridge {
    flex-direction: column;
  }

  //   remove
  .containerTextField {
    height: 3.085rem;
  }
  
  // header
  .padd {
    padding-right: 1rem !important;
    margin-right: 1rem !important;
  }
  #containerWallet {
    width: 11rem !important;
  }

  //   footer
  #footerColor {
    height: 150px !important;
  }
  .v-main__wrap {
    padding-bottom: 40% !important;
  }
  
  .botonMax {
    width: 3rem !important;
  }
}
// @media (min-height: 900px) {
//   #margenFooter {
//     padding: 10% 0 !important;
//   }
// }
@media (max-width: 990px) and (min-width: 879px) {
  // eliminar luego de agregar soon
  #headerApp {
    font-size: 10px !important;
  }
}