@import "../../styles/app";
.ajustarCubo{  
  width: 90%;  
  margin-top: 10px;
  margin-left: 65px;
  @media (max-width: 1264px) {   
    margin-left: 100px;
    // margin-top: -10px;   
  }
  @media (max-width: 1120px) {   
    margin-left: 100px;
    margin-top: 40px;   
  }
  @media (max-width: 1000px) { 
    width: 100%;        
  }
  @media (max-width: 960px) { 
    margin-left: 50px;
  }
}
.futuro{
  width: 285px;
  height: 84px;
  border-radius: 10px;
  background-color: var(--color2);
  color: var(--colorLetraFuture);
  margin-left: 90px;
  margin-top: -80px;
  @media (min-width: 1700px) {
    width: 390px;
    height: 110px; 
    margin-left: 130px;
    margin-top: -103px;   
  }
  @media (max-width: 1264px) {
    width: 240px;
    height: 70px; 
    margin-left: 75px;
    margin-top: -63px;   
  }
  @media (max-width: 1050px) {
    width: 200px;
    height: 60px; 
    margin-left: 65px;
    margin-top: -53px;   
  }
}
.ajustarTitlePrincipal{
  margin-top: 230px;
  margin-left: 65px; 
  
  @media (min-width: 1384px) {
    margin-top: 230px;
    margin-left: 95px;  
  }
  @media (min-width: 1600px) {
    margin-top: 230px;
    margin-left: 125px;  
  }  
  @media (min-width: 1720px) {
    margin-top: 230px;
    margin-left: 155px;  
  } 
}
.cubitoPequeño1{  
  position: absolute;
  width: 16.5625em;
  left: 0;
  bottom: 0;
}
.cubitoPequeño2{
  position: absolute;
  width: 16.5625em;
  right: 0;
  top: 0;
}
.titleServicios{
  margin-left: -80px;
  margin-top: 20%;
  @media (max-width: 980px) {       
    margin-top: 30%; 
  }
}
.Servicios1{
background-color: #EE732A;
background-image: url("../../assets/images/Mask group.png");
max-width: 400px;
aspect-ratio: 1 / 1;
border-radius: 10px 0 0 10px;
padding: 2em;
img{
  width: 100%;
  transform: rotate(1.52deg);
}
}
.movTitle{
  margin-top: -70px; 
  margin-left: 20px;
  @media (max-width: 980px) {   
    margin-top: -38px;
  }
}
.Servicios2{
  background-color: #1F5E87;
  background-image: url("../../assets/images/CUBO DV 7.png");  
  max-width: 400px;
  aspect-ratio: 1 / 1;
  border-radius: 10px 10px 0 0;
  padding: 2em;
  .imgservice2{
    z-index: 2;
    width: 90%;
  }
  .burbujas{   
    width: 75%;
    margin-top: 0px;
    margin-left: -10px;
  }
  .burbujas2{    
    width: 75%;
    margin-top: -180px;
    margin-left: 90px;    
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: rotate(1.52deg);
  }
  }
  .titleServ2{
    margin-top: -40px; 
    margin-left: 20px;
    @media (max-width: 980px) {  
      margin-top: -15px; 
     }
  }
  .Servicios3{
    z-index: 2;
    background-color: #022D3E;
    background-image: url("../../assets/images/Mask group (2).png");    
    max-width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 0 0 10px 10px;
    padding: 2em;
    img{width: 105%}
    }
    .titleServ3{
      margin-top: -40px; 
      margin-left: 20px;
      @media (max-width: 980px) {         
        margin-top: -20px; 
      }
    }
    .titleServices{
      font-family: 'Fira Sans Condensed';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 90.2%; //espacio entre linea y linea
      /* or 29px */      
      letter-spacing: 0.015em; //espacio entre letra y letra
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: .5em;
      @media (max-width: 980px) {   
        font-size: 23px;
      }
    }
    .parrafoServices{
      font-family: 'Fira Sans Condensed';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #FFFFFF;
    }
    .subtitles{
      font-family: 'Fira Sans Condensed';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 90.2%;
      text-transform: uppercase;
      color: var(--color2);
      @media (max-width: 1264px) {   
        font-size: 38px;
      }
      }
.divrow {
  display: flex;
  flex-direction: row;
}
.divcol {
  display: flex;
  flex-direction: column;
}
.start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spacea {
  display: flex;
  justify-content: space-around;
}
.spacee {
  display: flex;
  justify-content: space-evenly;
}
.verMas{
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  margin-top: 300px;
  margin-left: 400px; 
  
  @media (max-width: 1450px) {
    margin-top: 350px;   
    margin-left: 400px; 
  } 
  @media (max-width: 1150px) {
    margin-top: 350px;   
    margin-left: 300px; 
  } 
  @media (max-width: 1050px) {
    margin-top: 380px;   
    margin-left: 280px; 
  } 
  @media (max-width: 980px) {
    margin-top: 330px;     
  } 
  a span{
    color: #EE732A;
    font-weight: 700;
  }; 
  a .mdi-arrow-right::before{
    color: #EE732A;
  }; 
}
.verMasFotos{
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  &:not(.aquino) {margin-top: -80px}
  margin-bottom: 70px;

  a span{
    color: #EE732A;
    font-weight: 700;
  }; 
  a .mdi-arrow-right::before{
    color: #EE732A;
  }; 
}
.verMasProyectos{
  cursor: pointer;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  span{
    color: #EE732A;
    font-weight: 700;
  }  
  .mdi-arrow-right::before{
    color: #EE732A; 
  }
}
.proyectos{    
  margin-bottom: 30px;
}
.logoNear{
  // width: 95%;
  // padding-top: 13px;
}
.titleProyectos{
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 90.2%; //espacio entre linea y linea
  /* or 29px */      
  letter-spacing: 0.015em; //espacio entre letra y letra
  text-transform: uppercase;
  color: #EE732A;
  margin-bottom: 20px;
}
.parrafoProyectos{
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--clr);
  margin-top: 5px;
  margin-bottom: 0 !important;
}
.tamañoFoto{  
  border-radius: 10px;
  width: calc(100% - 20.25px);
  margin-left: auto;
  cursor: pointer;
}
.tamañoFotoPopup{    
  border-radius: 10px;
  width: 130px;
  height: 160px;
}

.nameEquipo{
  color: var(--color2);
  font-family: 'Fira Sans Condensed';
}
.tamLinkedin{
  width: 1.5em;
  margin-left: 10.25px;
}
.tamTwitter{
  width: 1.5em;
  margin-left: 20.25px;
}
.servicesTitle{
  z-index: 10;
  background-color: #022D3E !important;
  border-radius: 5% !important;  
  width: 50%;  
}
.image{
width: 80%;
}
.image2{
  background-image: url("../../assets/images/WORLD 3.png");
  background-size: cover;   
}
.v-dialog {   
  background-color: var(--colorCartas);
  display: flex; 
  height: 450px; 
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.v-dialog::-webkit-scrollbar {   
  background-color:transparent;
  width: 0px;  
  height: 0px;
}
.v-dialog::-webkit-scrollbar-thumb {  
 border-radius: 2px;
 background-color: gray;
 transform: rotate(90deg);
}
.textoDialog{
font-family: 'Fira Sans Condensed' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 15px !important;
line-height: 18px !important; 
color: var(--clr) !important;
}
.textoDialog1{
  font-family: 'Fira Sans Condensed' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 18px !important; 
  color: var(--clr) !important;
  padding-left: 40px !important;
  padding-right: 30px !important;
  padding-bottom: 40px !important;
  }
.card{
  background-color: var(--colorCartas);
  border-radius: 5px;
  width: 800px !important;    
}
.card1{
  background-color: var(--colorCartas);
  border-radius: 6px;
  width: 350px !important;  
  box-shadow: -2px 7px 22px rgba(0, 0, 0, 0.25);
}
.divTitle{  
  background-color: var(--clr);
  border-radius: 5px;  
  height: 121px;   
  .title1{
    font-family: 'Fira Sans Condensed' !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 134.7% !important;
    letter-spacing: 0.385em !important;
    text-transform: uppercase !important;
    color: var(--clr-inv);
    }
    .title2{
      font-family: 'Fira Sans Condensed' !important;
      font-style: normal !important;
      font-weight: 700 !important;
      font-size: 42px !important;
      line-height: 106.2% !important;    
      text-transform: uppercase !important;
      color: var(--clr-inv);
    }
}
.cubo1{  
  width: 280%;
  margin-top: -40px !important;
  margin-left: -105px !important;
}
.cubo2{  
  width: 220%;
  margin-top: -80px !important;
  margin-left: -9px !important;
}
.ajusteHead { 
  position: absolute;   
  margin-top: -100px;
  margin-left: -50px !important;    
}
.botonCerrar{
  position: absolute;
  width: 30px;
  margin-left: 0px;
  margin-top: 10px;
  cursor: pointer;
}
.botonCerrar1{  
  position: absolute;
  width: 30px;
  margin-top: -160px; 
  cursor: pointer;
}
.namePopup{
font-family: 'Fira Sans Condensed';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
text-transform: capitalize;
color: var(--clr);
}
.color{
  color: var(--color) !important;
  font-family: 'Fira Sans Condensed';
font-style: normal;
}



//////////////////////////////////////////////////////////
///////////////// modificaciones herian //////////////////
//////////////////////////////////////////////////////////
#servicios {
  display: grid;
  @media (min-width: 880px) {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(4, 200px);
    place-content: center;
    place-items: center;
  }
  .subtitles {order: 0;margin-bottom: .5em;margin-inline: auto}
  aside {
    grid-row: span 2;
    @media (max-width: 880px) {height: max-content !important}
    &:nth-of-type(1) {
      margin-right: auto;
      @media (min-width:880px) {order: 2}
    }
    &:nth-of-type(2) {
      margin-left: auto;
      @media (min-width:880px) {order: 1}
    }
    &:nth-of-type(3) {
      margin-right: auto;
      @media (min-width:880px) {order: 3}
    }
  }
  div.verMas {
    margin-inline: auto;
    margin-top: 2em;
    @media (min-width:880px) {order: 4}
  }
}
@layer layout {
  h1 {
    font-size: clamp(5em, 5vw, 6em) !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    span {
      border-radius: 10px;
      background-color: var(--color2);
      color: var(--colorLetraFuture);
      padding-inline: .25em !important;
    }
  }
}
#hero {
  // @media (min-width: 880px) {padding-top: calc(71px + 64px)}
  & > section {
    overflow: hidden;
    @media (max-width: 880px) {flex-direction: column}
  }
  &-img {
    width: min(100%,40em);
    @media (min-width:880px) {
      width: clamp(40em, 42vw, 55.48125em);      
      transform: translateX(-90px);  
      margin-top: 10px;  

    }
  }
  #right {gap: 1em; margin-top: 60px;}
  #container-cubitos {
    position: relative;
    height: calc(9.5625em * 2);
    width: calc(12.4375em * 2);
    @media (max-width: 880px) {margin-bottom: 6em}
  }
}

#proyectos {
  max-width: 66.1875em;
  margin-inline: auto;
  .subtitles {padding-bottom: 25px; font-weight: 700 !important}
  #content {
    & > .v-card {
      display: flex !important;
      margin-bottom: 2em;
      width: 56.6875em;
      flex-wrap: wrap;
      border-radius: 10px;
      overflow: hidden;
      img, .div2 {flex: 1 1}
      img {max-width: 232px !important;padding: 2em !important}
      .div2 {
        position: relative !important;
        padding: 1em 2em;
        padding-right: 5em;
        min-width: 350px;
        .div3 {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 4.875em !important;
        }
      }
    }
  }
  .v-card > *:last-child:not(.v-btn):not(.v-chip):not(.v-avatar) {
    border-bottom-left-radius:0px;
  }
  .logoFree{
    max-height: 100px !important;
  }
}

#container-tools {
  max-width: 1020px;
  margin-inline: auto;
  gap: clamp(3em, 4vw, 4em);
  .subtitles {margin-inline: auto}
  .v-slide-group__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding-bottom: 5em;
    @media (min-width:880px) {padding-inline: 5em}
  }
}

#equipo {  
  gap: 3em;
  #container-head {
    max-width: 700px;
    width: 100%;
    margin-inline: auto;
  }
  .subtitles {    
    font-weight: bold;    
  }
  .wrapper {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 14.875em), 1fr));
    gap: 2em;
  }
  .v-card {
    display: flex !important;
    gap: .5em;
    .top {position: relative;display: flex}
    @media (min-width:880px) {max-width: 14.875em}
    .nameEquipo {
      font-size: 1.125em;
      transform: rotate(-90deg);
      position: absolute;
      bottom: 40px;
      left: -30px;
    }
    &:first-of-type {
      .nameEquipo {left: -40.25px}
    }
  }
}

#container-moreTeam {
  gap: 2em;
  flex-wrap: wrap;
  padding: 2em;
  .tamañoFoto2 {
    max-width: 18em;
    width: 100%;
  }
}


#modalServices {
  margin-top: 5em;
  position: relative;
  .close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -10px;
    width: 3.25em;
  }
  #container-title{
    width: 100%;
    @media (min-width: 600px) {
      max-width: clamp(35.5em, 44vw, 44.5em);
      position: absolute;
      left: 0;
      top: 0;
    }
    background-color: var(--clr) !important;
    border-radius: 5px;
    box-shadow: 13px 14px 55px rgba(0, 0, 0, 0.25) !important;
    display: flex !important;
    flex-direction: column;
    padding: 2em 3em;
    #decoration {
      position: absolute;
      top: -80px;
      right: -100px;
      width: 15.25em;
      @media (max-width: 600px) {
        top: -60px;
        right: -80px;
        width: 12.25em;
      }
    }
    .title-1{
      font-family: 'Fira Sans Condensed' !important;
      font-style: normal;
      font-weight: 500 !important;
      font-size: 0.9375em !important;
      line-height: 134.7% !important;
      letter-spacing: 0.385em !important;
      text-transform: uppercase !important;
      color: var(--clr-inv);
      }
      .title-2{
        font-family: 'Fira Sans Condensed' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 2.625em !important;
        line-height: 106.2% !important;    
        text-transform: uppercase !important;
        color: var(--clr-inv);
      }
  }
  
  #container-services {
    position: static;
    background: center no-repeat url(../../assets/images/bg-services.png), var(--bg-card4) !important;
    background-size: cover;
    display: flex !important;
    flex-direction: column;
    width: calc(100% - 5em);
    margin-left: auto;
    gap: 2em;
    padding: 5em;
    padding-top: 110px;
    @media (max-width: 600px) {
      padding: 2em;
      padding-top: 80px;
      width: 100%;
    }
    height: 640px;
    // overflow-x: hidden;
    // overflow-y: auto;
    .refimage {width: 100%; padding-top: 20px;}
  }
}
.dialog-services {
  height: 670px !important;
}

.v-dialog {
  background-color: transparent !important;
  box-shadow: none !important;
}
