@import "../../styles/app";

// .dashboard-page {
//   .page-title {
//     padding-bottom: 20px;
//     @include media-breakpoint-up(sm) {
//       padding-bottom: 0;
//     }
//   }
//   .apexcharts-legend-series {
//     padding: 2px 5px 3px;
//     display: flex;
//     align-items: center;
//     .apexcharts-legend-marker {
//       margin-right: 8px;
//     }
//   }
//   .main-chart-select {
//     font-size: 1rem;
//     margin-right: 10px;
//     fieldset {
//       border-width: 1px !important;
//       border-color: $text-grey !important;
//       color: $text-grey !important;
//     }
//     .v-select__selection {
//       color: $text-color !important;
//     }
//   }
//   .v-card {
//     .v-card__text {
//       .subtext {
//         font-size: 1.142rem;
//         font-weight: 400;
//         color: $title-grey;
//       }
//       .subtext-index {
//         font-size: 11px;
//         color: $text-color;
//         font-weight: 400;
//       }
//     }
//   }
//   .support-requests {
//     .v-data-table__wrapper {
//       thead tr th {
//         font-size: 1rem;
//         font-weight: 500;
//         color: $title-grey !important;
//       }
//     }
//   }
// }

// .v-menu__content {
//   box-shadow: $card-shadow !important;
//   .v-list-item__content .v-list-item__title {
//     font-size: 1rem;
//     font-weight: 400;
//   }
// }
// .button-shadow {
//   box-shadow: $button-shadow;
// }

// ////////////////////////////////////////////////
// .containerAstronauta {
//   display: flex;
//   align-items: baseline;
//   justify-content: center;
//   height: 6.044375rem;
// }
// .astronauta {
//   width: 7.82875rem;
//   height: 7.044375rem;
// }

// .containerAstronauta2 {
//   display: flex;
//   justify-content: center;
//   visibility: hidden;
// }

// .containerPanel {
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   border-radius: 30px !important;
// }

// #swap {
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: bold !important;
//   font-size: 1.9rem !important;
//   /* Inside auto layout */
//   margin: 8px 0px;
// }
// .swap {
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: bold !important;
//   /* Inside auto layout */
//   margin: 8px 0px;
// }

// #textSwap {
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: 300 !important;
//   font-size: 1.3rem !important;
//   /* Inside auto layout */
//   margin: 8px 0px;
//   margin-bottom: 0px !important;
// }
// .textSwap {
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: 300 !important;
//   /* Inside auto layout */
//   margin: 8px 0px;
//   margin-bottom: 0px !important;
// }

// #balance {
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal !important;
//   font-size: 1.3rem !important;
//   text-align: flex-end;

//   /* Inside auto layout */
//   margin: 0px 0px;
//   margin-bottom: 6px !important;
// }
// .balance {
  
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal !important;
//   text-align: flex-end;

//   /* Inside auto layout */
//   margin: 0px 0px;
//   margin-bottom: 6px !important;
// }

// .containerTextField {
//   /* Auto layout */

//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   padding: 18.6782px 13.5842px;
//   height: 5.085rem;
//   border-radius: 10px !important;

//   /* Inside auto layout */
//   flex: none;
//   order: 1;
//   flex-grow: 0;
//   margin: 0px 0px;
// }

// .containerExs {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 10px;
//   transition: 0.2s ease-in;
// }
// .containerExs:hover {
//   padding-top: 0.5rem;
//   padding-bottom: 0.5rem;
// }
// .containerOsmoEx {
//   background: transparent !important;
//   padding-left: 0 !important;
//   padding-right: 0 !important;
//   height: auto !important;
//   display: flex !important;
//   align-items: center !important;
//   transition: 0.15s ease-in-out;
// }

// .logo {
//   width: 1.62375rem !important;
//   height: 1.62375rem !important;
//   /* Inside auto layout */
//   margin: 0px 8.4901px;
// }

// #exs {
//   /* EXS */
//   font-family: "General Sans", sans-serif !important;
//   font-weight: normal !important;
//   font-size: 1.3rem !important;
//   margin-bottom: 0 !important;
// }
// .exs {
//   /* EXS */
//   font-family: "General Sans", sans-serif !important;
//   font-weight: normal !important;
//   margin-bottom: 0 !important;
// }

// .flechita2 {
//   width: 0.1rem;
//   height: 0.375rem;

//   /* Inside auto layout */
//   margin: 0px 10px;
// }
// .textField {
//   margin: auto;
//   font-family: "General Sans", sans-serif !important;
// }
// .theme--light.v-input input {
//   font-size: 1.4375rem;
//   font-weight: 600;
// }
// .theme--light.v-input input::placeholder {
//   font-weight: bold;
//   font-size: 1.625rem;
// }

// .botonMax {
//   /* Auto layout */
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   min-width: auto !important;
//   width: 3.3125rem !important;
//   height: 2.525rem !important;

//   /* Linear */
//   border-radius: 10px;

//   /* p4 small */
//   text-transform: capitalize !important;
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal;
//   font-size: var(--step--1) !important;
//   letter-spacing: 0px;
//   margin: 0px 10px;
// }

// .botonMax2 {
//   /* Auto layout */
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 5px;
//   min-width: auto !important;
//   width: 3.5125rem !important;
//   height: 2.625rem !important;

//   /* Linear */
//   border-radius: 10px;

//   /* p4 small */
//   text-transform: capitalize !important;
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 0.975rem !important;
//   letter-spacing: 0px;
//   margin: 0px 10px;
// }

// .padd2 {
//   padding-top: 0 !important;
//   padding-bottom: 0 !important;
// }
// .centrarFlechaAbajo {
//   display: flex;
//   justify-content: center;
//   overflow: hidden;
// }
// .containerFlechaAbajo {
//   width: 2.6375rem !important;
//   height: 2.6375rem !important;
//   transition: 0.5s ease;
// }
// .flechaAbajo {
//   width: 16.59px;
//   height: 8.29px;
// }
// .rotate {
//   transform: rotate(180deg);
// }
// #tooltip {
//   border-radius: 10px;
//   padding: 10px;
//   font-size: 1.3rem !important;
//   text-align: center;
// }
// #depositText {
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal !important;
//   font-size: 1.3rem !important;
//   text-align: flex-start;
//   margin-bottom: 0 !important;
// }
// .depositText {
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal !important;
//   text-align: flex-start;
//   margin-bottom: 0 !important;
// }

// .botonDeposit {
//   /* Auto layout */
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   min-width: auto !important;
//   width: 4.5625rem;
//   border-radius: 5px;

//   /* p4 small */
//   text-transform: capitalize !important;
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal;
//   letter-spacing: 0px;
//   /* Inside auto layout */
//   margin: 16px 0.6875rem;
// }

// .v-expansion-panel {
//   background: transparent !important;
//   border: none !important;
//   z-index: 0 !important;
// }

// .line {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 10px;
//   margin: auto;
//   width: 10vmax !important;
//   height: 1px;
// }

// .containerCustomeSlippage {
//   /* Auto layout */

//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   width: 3.5625rem;
//   height: 1.65rem;
//   text-align: center;

//   .theme--light.v-input input {
//     font-size: 14px !important;
//     font-weight: normal;
//     text-align: center;
//   }
//   .theme--light.v-input input::placeholder {
//     font-weight: normal;
//     font-size: 14px !important;
//   }
// }
// .containerDeadline {
//   /* Auto layout */

//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 5px;
//   width: 49px;
//   height: 29px;
//   border-radius: 5px;
//   margin: 0px 11px;
//   text-align: center;

//   .theme--light.v-input input {
//     font-size: 14px !important;
//     font-weight: normal;
//     text-align: center;
//   }
//   .theme--light.v-input input::placeholder {
//     font-weight: normal;
//     font-size: 14px !important;
//   }
// }
// .deadline {
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal !important;
//   font-size: 0.875rem !important;
// }
// #textDeadline {
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal !important;
// }

// .center {
//   display: flex;
//   justify-content: space-between;
// }
// .childCenter {
//   margin-right: 5rem;
// }

// #botonSwap {
//   /* Auto layout */
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 4.24505px !important;
//   margin-top: 10px;
//   margin-bottom: 10px;

//   width: 100%;
//   height: 48px !important;

//   /* Linear */
//   border-radius: 8.4901px;

//   text-transform: capitalize;
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: 600 !important;
// }

// ///////////////////////////////////////////////////////////////////////
// .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
//   margin: auto;
//   min-height: auto !important;
//   height: auto !important;
//   box-shadow: none !important;
// }
// .v-input__slot, .v-input__control {
//   min-height: auto !important;
//   height: auto !important;
//   background: transparent !important;
// }
// element.style {
//   display: none !important;
// }
// .v-text-field.v-text-field--enclosed .v-text-field__details {
//   display: none !important;
// }
// ///////////////////////////////////////////////////////////////////////

// .containerPanel2 {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   border-radius: 0 0 30px 30px !important;
//   overflow: hidden;
// }

// .containerPanel3 {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   border-radius: 0 0 30px 30px !important;
//   overflow: hidden;
// }

// .containerAddRemove {
//   display: flex;
// }

// #addRemove {
//   /* Auto layout */

//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 4.24505px !important;
//   // font-size: var(--step-2) !important;

//   width: 50% !important;
//   height: 73.86px !important;
//   border-radius: 10px 10px 0 0 !important;

//   /* Inside auto layout */
//   margin: 0px 0px !important;

//   /* text */
//   text-transform: capitalize;
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: 550 !important;
// }

// #titleRemove {
//   /* Remove LP */
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: bold !important;
//   // font-size: 1.9rem !important;

//   /* Inside auto layout */
//   margin: 0px 4.24505px;
// }

// .botonRemove {
//   /* Auto layout */
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;

//   /* Linear */
//   border-radius: 10px;

//   /* p4 small */
//   padding: 0 !important;
//   text-transform: capitalize !important;
//   letter-spacing: normal !important;
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal !important;
//   font-weight: normal !important;
//   font-size: var(--step--1) !important;
//   /* identical to box height */
// }

// #seeMore {
//   margin-bottom: 0 !important;

//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: 500 !important;
//   font-size: 1.3rem !important;
//   text-decoration-line: underline;
//   text-align: center;
// }

// /////////////////////////////////////////////////////////

// .containerPlus {
//   background: transparent !important;
//   border-radius: 31.0979px;
//   width: 42.2px !important;
//   height: 42.2px !important;
// }

// .plus {
//   width: 16px;
//   height: 16px;
// }

// #botonAprove {
//   /* Auto layout */

//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 4.24505px !important;
//   margin-top: 10px;
//   margin-bottom: 10px;

//   width: 49% !important;
//   height: 48px !important;
//   border-radius: 8.4901px !important;

//   text-transform: capitalize;
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: 600 !important;
// }
// /////////////////////////////////////////////////

// .containerTextFieldA {
//   /* Auto layout */

//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   padding: 18.6782px 13.5842px;

//   height: 81.36px;
//   border-radius: 10px 10px 0 0 !important;

//   /* Inside auto layout */
//   margin: 0px 0px;
// }

// .containerTextFieldB {
//   /* Auto layout */

//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   padding: 18.6782px 13.5842px;

//   height: 81.36px;
//   border-radius: 0 0 10px 10px !important;

//   /* Inside auto layout */

//   flex: none;
//   order: 1;
//   flex-grow: 0;
//   margin: 0px 0px;
// }

// ///////////////////////////////////////////////////////////////////////////

// .containerChart {
//   /* Auto layout */
//   padding: 0px !important;
//   padding-bottom: 30px !important;
//   background-color: transparent !important;
// }

// .containerCustomeChart {
//   min-height: auto !important;
//   max-height: auto !important;
//   height: 55rem !important;
// }

// .chartLogo {
//   width: 2.769375rem !important;
//   height: 2.794375rem !important;
//   /* Inside auto layout */
//   margin: 0px 0.75rem;
// }
// #chartTitle {
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: bold !important;

//   /* Inside auto layout */
//   margin: 0px 12px;
//   margin-bottom: 0px !important;
// }
// #value {
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: bold !important;
// }
// #amount {
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: bold !important;

//   /* Inside auto layout */
//   margin: 16.9594px;
// }

// .containerData {
//   /* Auto layout */
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 20px !important;
//   border-radius: 10px !important;

//   /* Inside auto layout */
//   margin: 30px 0px;
// }

// // .divisor:after {
// //   content: "";
// //   position: absolute;
// //   left: -10px;
// //   bottom: 0;
// //   top: 0;
// //   margin: auto;
// //   width: 1px;
// //   height: 70%;
// //   background: linear-gradient(#D64059 100%, #5E489D 100%);
// // }
// .prueba {
//   display: flex !important;
//   flex-direction: column !important;
// }
// .divisor {
//   color: transparent;
//   width: 1px;
//   height: 3.5rem;
//   padding: 0 !important;
//   // margin-right: 1.25rem;
// }

// .logoData {
//   width: 1.91875rem;
//   height: 1.621875rem;
//   /* Inside auto layout */
//   margin: 0px 10.0338px;
// }

// #amountData {
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: normal !important;

//   /* Inside auto layout */
//   margin: 0px !important;
// }

// #titleData {
//   font-family: "General Sans", sans-serif !important;
//   font-style: normal;
//   font-weight: bold !important;

//   /* Inside auto layout */
//   margin: 0.75rem 0px !important;
// }

// #textData {
//   /* Liquidity */
//   font-family: "Mulish", sans-serif !important;
//   font-style: normal;
//   font-weight: normal !important;

//   /* Inside auto layout */
//   margin: 12px 0px;
// }



// // #contenedorDataTableTokens {
// //   border-radius: 10px;
// //   padding: 0.625rem 0.625rem 0px 0px;
// //   max-width: 28.375rem;
// // }
// .recentTitle {
//   cursor: default;
//   font-family: 'General Sans', sans-serif !important;
//   font-style: normal;
//   font-weight: bold !important;
//   font-size: 1.9rem !important;
// }
// .recentSection {
//   padding-left: 24px;
//   flex-direction: row;
//   flex-wrap: wrap;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
// }
// #dataTableTokens {
//   padding: 0.625rem 0.625rem 0px 0px;
//   width: 50.375rem;
//   max-width: 30.375rem;
//   max-height: 500px;
//   border-radius: 10px;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   scroll-behavior: smooth;
// }
// #dataTableTokens::-webkit-scrollbar {
//   width: 9.4px;
//   border-radius: 10em;
// }
// #dataTableTokens::-webkit-scrollbar-thumb {
//   border-radius: 0.5em;
// }
// #containerRecentBy {
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;

//   /* Auto layout */
//   height: 40px;
//   border-radius: 10px;
//   transition: 0.2s ease-in-out;
// }
// #dataTableTokens > .v-data-table__wrapper > table > thead > tr > th {
//   font-size: 1.9rem !important;
//   padding-left: 24px !important;
// }
// #quitarHover {
//   transition: 0.2s ease-in
// }
// #quitarHoverBanderas {
//   transition: 0.2s ease-in;
// }
// #dataTableBridge > .v-data-table__wrapper > table > tbody > tr > td {
//   transition: 0.2s ease-in-out;
// }
// .margenRemove {
//   margin-bottom: 13px
// }

// // pool
// @media (max-width: 400px) and (max-height: 1180px) {
//   #pool {
//     font-size: 9px !important;
//   }
// }
// #pool {
//   .contNavBtn {
//     .navBtn {
//       display: inline-block;
//       width: 50%;
//       height: 55px;
//       font-family: 'Mulish', sans-serif !important;
//       font-weight: 700;
//       color: #404659;
//       background-color: var(--colorCartas2);
//       border-radius: 10px;
//       &.active {
//         color: #FFFFFF !important;
//         background: var(--colorNavBtn) !important;
//       }
//     }
//   }
//   #stablePools {
//     @media (max-width: 430px) and (max-height: 1180px) {
//       .contitle {
//         flex-direction: column !important;
//         justify-content: flex-start !important;
//         align-items: flex-start !important;
//         gap: 2em !important;
//         .contSwitch {
//           margin-left: auto;
//           justify-content: flex-end !important;
//         }
//       }
//     }
//     .contitle {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       flex-wrap: wrap;
//       gap: 1em;
//       h2 {
//         font-family: 'Mulish', sans-serif !important;
//         font-weight: 700;      
//         margin-bottom: 0;
//       }
//       .contSwitch {
//         display: flex;
//         gap: 1em;
//         align-items: center;
//         span {
//           font-family: 'Mulish', sans-serif !important;
//           font-weight: 700;
//         }
//         .v-btn {
//           min-width: 5em !important;
//           min-height: 2.5em !important;
//           max-height: 2.5em !important;
//           border-radius: 10000px;
//           position: relative;
//           &::after {
//             content: "";
//             position: absolute;
//             left: 10%;
//             top: 0;
//             bottom: 0;
//             margin-block: auto;
//             height: 75%;
//             aspect-ratio: 1 / 0.9;
//             background: linear-gradient(90.11deg, #D64059 -9.74%, #5E489D 111.08%);
//             border-radius: 10000px;
//             animation: moveRight .5s ease;
//           }
//           &.active {
//             &::after {
//               left: auto !important;
//               right: 10% !important;
//               animation: moveLeft .5s ease;
//             }
//           }
//           @keyframes moveLeft {
//             0% {
//               transform: translateX(-100%);
//             }
//             100% {
//               transform: translateX(0);
//             }
//           }
//           @keyframes moveRight {
//             0% {
//               transform: translateX(100%);
//             }
//             100% {
//               transform: translateX(0);
//             }
//           }
//         }
//       }
//     }
//     .v-card {
//       display: flex;
//       flex-direction: column;
//       padding: 1.5em;
//       transition: margin-top 0.5s ease;
//       gap: 1em;
//       &.activeClass {
//         margin-block: 1em;
//       }
//       .contup {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         aside {
//           display: flex;
//           align-items: center;
//           gap: 1em;
//           img {
//             width: 2.50875em;
//             height: 2.50875em;
//           }
//           span {
//             font-family: 'General Sans', sans-serif !important;
//             font-weight: 400;
//           }
//         }
//         .v-btn {
//           background: linear-gradient(90.11deg, #D64059 -9.74%, #5E489D 111.08%);
//           border-radius: 15.68px;
//           text-transform: capitalize;
//           letter-spacing: normal;
//           padding-inline: clamp(1em, 2vw, 2em);
//           padding-block: clamp(0em, 2vw, 1.4em);
//           span {
//             font-family: 'General Sans', sans-serif !important;
//             font-weight: 400;            
//             color: #FFFFFF !important;
//           }
//         }
//       }
//       @keyframes aparecer {
//         0% {
//           opacity: 0.5;
//           transform: scaleY(0.5);
//         }
//         100% {
//           opacity: 1;
//           transform: scaleY(1);
//         }
//       }
//       .contdown {
//         transform-origin: top;
//         animation: aparecer 1s ease-in-out alternate;
//         display: flex;
//         flex-direction: column;
//         gap: 1em;
//         span {
//           font-family: 'General Sans', sans-serif !important;
//           font-weight: 400;
//         }
//         @media (max-width: 600px) and (max-height: 1180px) {
//           aside {
//             width: 100% !important;
//           }
//         }
//         aside {
//           display: flex;
//           flex-direction: column;
//           gap: .5em;
//           width: 50%;
//           .contItems {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             div {
//               display: flex;
//               gap: 0.5em;
//               img {
//                 width: 1.62375em;
//                 height: 1.62375em;
//               }
//               label {
//                 font-family: 'General Sans', sans-serif !important;
//                 font-weight: 700;
//               }
//             }
//             p {
//               font-family: 'General Sans', sans-serif !important;
//               font-weight: 400;              
//               margin-bottom: 0;
//             }
//           }
//         }
//       }
//       .contbtns {
//         display: flex;
//         gap: clamp(1em, 2vw, 2em);
//         .v-btn {
//           padding: 0.49em;
//           width: clamp(9em, 16vw, 16.5625em);
//           font-family: 'General Sans', sans-serif !important;
//           font-weight: 400;
//           border-radius: 15.68px;
//           span {
//             letter-spacing: normal !important;
//             text-transform: capitalize !important;
//             color: #FFFFFF !important;
//           }
//         }
//         .v-btn:nth-child(1) {
//           background: linear-gradient(90.11deg, #D64059 -9.74%, #5E489D 111.08%);
//         }
//         .v-btn:nth-child(2) {
//           background-color: #808080;
//         }
//       }    
//     }
//   }
// }
.ajustarCubo{  
  width: 90%;  
  margin-top: 10px;
  margin-left: 65px;
  @media (max-width: 1264px) {   
    margin-left: 100px;
    // margin-top: -10px;   
  }
  @media (max-width: 1120px) {   
    margin-left: 100px;
    margin-top: 40px;   
  }
  @media (max-width: 1000px) { 
    width: 100%;        
  }
  @media (max-width: 960px) { 
    margin-left: 50px;
  }
}
.futuro{
  width: 285px;
  height: 84px;
  border-radius: 10px;
  background-color: var(--color2);
  color: var(--colorLetraFuture);
  margin-left: 90px;
  margin-top: -80px;
  @media (min-width: 1700px) {
    width: 390px;
    height: 110px; 
    margin-left: 130px;
    margin-top: -103px;   
  }
  @media (max-width: 1264px) {
    width: 240px;
    height: 70px; 
    margin-left: 75px;
    margin-top: -63px;   
  }
  @media (max-width: 1050px) {
    width: 200px;
    height: 60px; 
    margin-left: 65px;
    margin-top: -53px;   
  }
}
.ajustarTitlePrincipal{
  margin-top: 230px;
  margin-left: 65px; 
  
  @media (min-width: 1384px) {
    margin-top: 230px;
    margin-left: 95px;  
  }
  @media (min-width: 1600px) {
    margin-top: 230px;
    margin-left: 125px;  
  }  
  @media (min-width: 1720px) {
    margin-top: 230px;
    margin-left: 155px;  
  } 
}
.cubitoPequeño1{  
  position: absolute;
  width: 15%;
  left: 845px;
  top: 550px;  
  
  @media (min-width: 1260px) {
    top: 520px;
    left: 780px;
  }
  @media (min-width: 1400px) {
    top: 520px;
    left: 850px;
  }
  @media (min-width: 1500px) {
    top: 540px;
    left: 920px;
  }
  @media (min-width: 1700px) {
    width: 14%;
    top: 660px;
    left: 1110px;
  }
  @media (min-width: 1904px) {
    width: 14%;
    left: 1220px;
    top: 660px;
  }
  @media (min-width: 2150px) {    
    left: 1320px;
    top: 660px;
  }
  @media (min-width: 2350px) { 
    width: 12%;    
    left: 1450px;
    top: 660px;
  }

  @media (max-width: 1264px) {    
    top: 470px;
    left: 680px;
  }
  @media (max-width: 1120px) {   
    top: 470px;
    left: 660px;  
  }
  @media (max-width: 1050px) {   
    top: 440px;
    left: 600px;  
  }
  @media (max-width: 1000px) {   
    top: 440px;
    left: 580px;  
  }
}
.cubitoPequeño2{
  position: absolute;
  width: 15%;
  left: 980px;
  top: 500px;
  
  @media (min-width: 1260px) {
    top: 480px;
    left: 900px;
  }
  @media (min-width: 1400px) {
    top: 480px;
    left: 980px;
  }
  @media (min-width: 1500px) {
    top: 480px;
    left: 1060px;
  }
  @media (min-width: 1700px) {
    width: 14%;
    top: 580px;
    left: 1240px;
  }
  @media (min-width: 1904px) {
    width: 14%;
    left: 1400px;
    top: 580px;
  }
  @media (min-width: 2150px) {   
    left: 1500px;
    top: 580px;
  }
  @media (min-width: 2350px) {  
    width: 12%; 
    left: 1650px;
    top: 580px;
  }

  @media (max-width: 1264px) {    
    top: 430px;
    left: 780px;  
  }
  @media (max-width: 1120px) {   
    top: 430px;
    left: 760px;  
  }
  @media (max-width: 1050px) {   
    top: 400px;
    left: 700px;  
  }
  @media (max-width: 1000px) {       
    left: 670px;  
  }
}
.dudas{ 
  background: var(--letraFooter);
  box-shadow: 8px 7px 28px rgba(0, 0, 0, 0.25);    
  border-radius: 10px;
  height: 90px;  
}
.titleServicios{
  margin-left: -80px;
  margin-top: 20%;
  @media (max-width: 980px) {       
    margin-top: 30%; 
  }
}
.Servicios1{
position: absolute;
background-color: #EE732A;
background-image: url("../../assets/images/Mask group.png");
width: 400px;
height: 400px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

@media (min-width: 1400px) {   
  margin-top: -90px;
}
@media (min-width: 1550px) {   
  margin-top: -150px;
}
@media (min-width: 1650px) {   
  margin-top: -200px;
}
@media (min-width: 1750px) {   
  margin-top: -250px;
}
@media (min-width: 1850px) {   
  margin-top: -300px;
}
@media (min-width: 1950px) {   
  margin-top: -300px;
}


@media (max-width: 1260px) {   
  margin-top: 50px;
}
@media (max-width: 1186px) {   
  margin-top: 90px;
}
@media (max-width: 1100px) {   
  margin-top: 130px;
}
@media (max-width: 1050px) {   
  margin-top: 170px;
}
@media (max-width: 980px) {   
  margin-top: 100px;
  width: 350px;
  height: 350px;
}
img{
  width: 100%;
  transform: rotate(1.52deg);
  margin-left: 20px;
  margin-top: -30px;
  @media (max-width: 980px) {   
    width: 90%;
  }
}
}
.movTitle{
  margin-top: -70px; 
  margin-left: 20px;
  @media (max-width: 980px) {   
    margin-top: -38px;
  }
}
.Servicios2{
  position: absolute;  
  background-color: #1F5E87;
  background-image: url("../../assets/images/CUBO DV 7.png");  
  width: 400px;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;  
  @media (max-width: 1186px) {   
    margin-top: -13px;
  }
  @media (max-width: 980px) {  
    margin-top: 36px;
    width: 350px;
    height: 350px;
  }
  .imgservice2{
    z-index: 2;
    width: 90%;
    margin-left: 25px;
    margin-top: -10px;
    @media (max-width: 980px) {  
     width: 80%;
    }
  }
  .burbujas{   
    width: 75%;
    margin-top: 0px;
    margin-left: -10px;
  }
  .burbujas2{    
    width: 75%;
    margin-top: -180px;
    margin-left: 90px;    
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: rotate(1.52deg);
  }
  }
  .titleServ2{
    margin-top: -40px; 
    margin-left: 20px;
    @media (max-width: 980px) {  
      margin-top: -15px; 
     }
  }
  .Servicios3{
    z-index: 2;
    position: absolute;
    background-color: #022D3E;
    background-image: url("../../assets/images/Mask group (2).png");    
    width: 400px;
    height: 400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    @media (max-width: 980px) {         
      width: 350px;
      height: 350px;
    }
    img{
      width: 105%;      
      margin-top: -10px;
      @media (max-width: 980px) { 
        margin-left: 20px;        
        width: 95%;
      }
    }
    }
    .titleServ3{
      margin-top: -40px; 
      margin-left: 20px;
      @media (max-width: 980px) {         
        margin-top: -20px; 
      }
    }
    .titleServices{
      font-family: 'Fira Sans Condensed';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 90.2%; //espacio entre linea y linea
      /* or 29px */      
      letter-spacing: 0.015em; //espacio entre letra y letra
      text-transform: uppercase;
      color: #FFFFFF;
      @media (max-width: 980px) {   
        font-size: 23px;
      }
    }
    .parrafoServices{
      font-family: 'Fira Sans Condensed';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #FFFFFF;
    }
    .subtitles{
      font-family: 'Fira Sans Condensed';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 90.2%;
      text-transform: uppercase;
      color: var(--color2);
      @media (max-width: 1264px) {   
        font-size: 38px;
      }
      }
.divrow {
  display: flex;
  flex-direction: row;
}
.divcol {
  display: flex;
  flex-direction: column;
}
.start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spacea {
  display: flex;
  justify-content: space-around;
}
.spacee {
  display: flex;
  justify-content: space-evenly;
}
.verMas{
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  margin-top: 300px;
  margin-left: 400px; 
  
  @media (max-width: 1450px) {
    margin-top: 350px;   
    margin-left: 400px; 
  } 
  @media (max-width: 1150px) {
    margin-top: 350px;   
    margin-left: 300px; 
  } 
  @media (max-width: 1050px) {
    margin-top: 380px;   
    margin-left: 280px; 
  } 
  @media (max-width: 980px) {
    margin-top: 330px;     
  } 
  a span{
    color: #EE732A;
    font-weight: 700;
  }; 
  a .mdi-arrow-right::before{
    color: #EE732A;
  }; 
}
.verMasFotos{
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  margin-top: -80px; 
  margin-bottom: 70px;

  a span{
    color: #EE732A;
    font-weight: 700;
  }; 
  a .mdi-arrow-right::before{
    color: #EE732A;
  }; 
}
.verMasProyectos{
  cursor: pointer;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  margin-left: -10% !important;
  span{
    color: #EE732A;
    font-weight: 700;
  }  
  .mdi-arrow-right::before{
    color: #EE732A; 
  }
}
.proyectos{    
  margin-bottom: 30px;
}
.logoNear{
  width: 95%;
  padding-top: 13px;
}
.titleProyectos{
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 90.2%; //espacio entre linea y linea
  /* or 29px */      
  letter-spacing: 0.015em; //espacio entre letra y letra
  text-transform: uppercase;
  color: #EE732A;
  margin-bottom: 20px;
}
.parrafoProyectos{
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--clr);
  margin-top: 5px;
}
.tamañoFoto{  
  border-radius: 10px;
  width: 160px;
  height: 190px;  
  cursor: pointer; 
  @media (max-width: 1259px) {
    width: 120px;
    height: 150px;
  }
  @media (max-width: 959px) {
    width: 100px;
    height: 130px;
  } 
}
.tamañoFotoPopup{    
  border-radius: 10px;
  width: 130px;
  height: 160px;
}

.nameEquipo{
  color: var(--color2);
  font-family: 'Fira Sans Condensed';
  font-style: normal;
}
.tamLinkedin{
  width: 70%;
}
.servicesTitle{
  z-index: 10;
  background-color: #022D3E !important;
  border-radius: 5% !important;  
  width: 50%;  
}
.image{
width: 80%;
}
.image2{
  background-image: url("../../assets/images/WORLD 3.png");
  background-size: cover;   
}
.v-dialog {   
  background-color: var(--colorCartas);
  display: flex; 
  height: 450px; 
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.v-dialog::-webkit-scrollbar {   
  background-color:transparent;
  width: 0px;  
  height: 0px;
}
.v-dialog::-webkit-scrollbar-thumb {  
 border-radius: 2px;
 background-color: gray;
 transform: rotate(90deg);
}
.textoDialog{
font-family: 'Fira Sans Condensed' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 15px !important;
line-height: 18px !important; 
color: var(--clr) !important;
padding-left: 80px !important;
padding-right: 70px !important;
padding-bottom: 55px !important;
}
.textoDialog1{
  font-family: 'Fira Sans Condensed' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 18px !important; 
  color: var(--clr) !important;
  padding-left: 40px !important;
  padding-right: 30px !important;
  padding-bottom: 40px !important;
  }
.card{
  background-color: var(--colorCartas);
  border-radius: 5px;
  width: 800px !important;    
}
.card1{
  background-color: var(--colorCartas);
  border-radius: 6px;
  width: 350px !important;  
  box-shadow: -2px 7px 22px rgba(0, 0, 0, 0.25);
}
.divTitle{  
  background-color: var(--clr);
  border-radius: 5px;  
  height: 121px;   
  .title1{
    font-family: 'Fira Sans Condensed' !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 134.7% !important;
    letter-spacing: 0.385em !important;
    text-transform: uppercase !important;
    color: var(--clr-inv);
    }
    .title2{
      font-family: 'Fira Sans Condensed' !important;
      font-style: normal !important;
      font-weight: 700 !important;
      font-size: 42px !important;
      line-height: 106.2% !important;    
      text-transform: uppercase !important;
      color: var(--clr-inv);
    }
}
.cubo1{  
  width: 280%;
  margin-top: -40px !important;
  margin-left: -105px !important;
}
.cubo2{  
  width: 220%;
  margin-top: -80px !important;
  margin-left: -9px !important;
}
.ajusteHead { 
  position: absolute;   
  margin-top: -100px;
  margin-left: -50px !important;    
}
.botonCerrar{
  position: absolute;
  width: 30px;
  margin-left: 0px;
  margin-top: 10px;
  cursor: pointer;
}
.botonCerrar1{  
  position: absolute;
  width: 30px;
  margin-top: -160px; 
  cursor: pointer;
}
.namePopup{
font-family: 'Fira Sans Condensed';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
text-transform: capitalize;
color: var(--clr);
}
.color{
  color: var(--color) !important;
  font-family: 'Fira Sans Condensed';
font-style: normal;
}

