@import "../../styles/app";

.error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
#containerNotFound {
  position: absolute;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text404 {
  font-family: 'Mulish', sans-serif !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 22rem !important;
  color: #EE732A !important;
}
.textNotFound {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold !important;
  font-size: 3.6rem !important;
  color: var(--clr);
}
#buttonNotFound {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold !important;
  font-size: 1.8rem !important;
  color: #FFFFFF;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4.75rem;
  background: #EE732A;
  border-radius: 50.6557px;
}
